<% provide(:title, "About") %>

<h1>About</h1>
<p>This is a pet project initially created for a hackathon HackOH/IO 2018. It is supposed to be an Agile/SCRUM project
management tool that is free to use and free to implement upon. It is open source.</p>

<p>Why Anthologie? An anthology is a collection of stories, so it fits. The "ie" is because hipster stuff.
  For more information, just google agile artifacts lmao.</p>
